/* .client {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 120px;
}

.client-left {
  margin-left: 70px;
}

.client-right img {
  width: 200px;
  margin: 15px;
} */
